* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*header*/
header {
  width: 100%;
  height: 70px;
  background-color: #ff6900;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-left,
.header-right {
  color: white;
}

/* main*/
main {
  margin-top: 30px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  position: relative;
}

.card img {
  width: 100%;
}
.img-content {
  position: absolute;
  top: 76%;

  width: 150px;
  height: 30px;
}
.card {
  position: relative;
  width: calc(100% / 3);
  flex-grow: 1;

  padding: 10px;
}
.red-font {
  color: red;
}
.red-fontt {
  color: white;
  background-color: red;
}
.green-font {
  color: white;
  align-items: center;
  background-color: green;
}
.cuore {
  position: relative;
  right: 100px;
}

.card .back-img {
  display: none;
}
.card:hover .front-img {
  display: none;
}

.card:hover .back-img {
  display: block;
}
img {
  display: block;
}

.wishlist {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: white;
}

/* footer */

footer {
  width: 100%;
  height: 90px;
  background-color: #1a1a1a;
  margin-top: 100px;
}
